html, body {
	margin: 0;
	padding: 0;
	
	font-family:Arial, Helvetica, sans-serif;
	
background: linear-gradient(270deg, #2b63d5, #554cd4, #0bcc67, #e6641a, #8b1ae6, #1a78e6);
background-size: 1200% 1200%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

	}
	

 @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}


}          
	
	
	
	
#mainStage{
	background-color:#fff;
	width:800px;
	height:400px;
	margin:auto;
	margin-top:50px;
	}
#noted{
	background-color:#fff;
	width:800px;
	height:400px;
	margin:auto;
	margin-top:50px;
   	}
#icon_prefix2{
font-size:25px;
   	}


#spacing{   
	height:50px;
	}
#clockOuter{
	margin:auto;
	width:100px;
	height:100px;
	position:relative;
	overflow:hidden;
	}
#clockInner{
	position:absolute; 
	height:100px;
	}
#timeShow{
	position:static;
	margin:auto;
	font-size:55px;
	width:100%;
	text-align:center;	
	}
@media screen and (max-width:800px){
	#mainStage{width:100%;}
	}
